@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Yanone+Kaffeesatz&display=swap');

* {
  box-shadow: 0 0 0 3px red inset;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color1:crimson;
  --color2:white;
  --color3:#0000002c;
  --color4:rgba(31, 30, 30, 0.24);
  --color5:linear-gradient(60deg, #29323c 0%, #485563 100%);
  --color6:#DC143C;
}
html {
  font-size: 10px;
  font-family: 'Montserrat', 'sans-serif';
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;/* Enleve l'espace scrollbar */
  background: transparent; /*Fonctionne que sur google */
}
::-webkit-scrollbar-thumb {
  background: #030101;
}
/* a {
  text-decoration: none;   Avoir pour enlever pblm avc btp
} */
.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.container {
  overflow: -moz-scrollbars-none;  /*******obsolète*******/
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}