@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Yanone+Kaffeesatz&display=swap");

:root {
  --color1: crimson;
  --color2: white;
  --color3: #0000002c;
  --color4: rgba(31, 30, 30, 0.24);
  --color5: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --color6: #dc143c;
}
* {
  box-shadow: 0 0 0 3px red inset;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 10px;
  font-family: "Montserrat", "sans-serif";
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Enleve l'espace scrollbar */
  background: transparent; /*Fonctionne que sur google */
}
::-webkit-scrollbar-thumb {
  background: #030101;
}
a {
  text-decoration: none;
}
.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.container {
  overflow: -moz-scrollbars-none; /*******obsolète*******/
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* competences */
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: var(--color3);
  font-size: 1.4rem;
  margin-bottom: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--color3);
  margin: 45px auto 10px auto;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
h1.section-title {
  text-decoration: none;
  padding-bottom: 35px;
}
.section-title span {
  color: var(--color1);
}
.cv {
  display: inline-block;
  padding: 10px 30px;
  color: var(--color2);
  background-color: transparent;
  border: 2px solid var(--color1);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cv:hover {
  color: var(--color2);
  background-color: var(--color1);
}
.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color2);
}
.brand h1 span {
  color: var(--color1);
}
h2 {
  margin-bottom: 5px;
}
/* Hero !! */
#hero {
  background: url(./img/pexels-negative-space-34600.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}
#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--color1);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}
/* end hero section  */
/* Skills section  */
#skills .skills {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#skills .skills-top {
  max-width: 500px;
  margin: 0 auto;
}
#skills .section-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#skills .skills-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../img/travail1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#skills .skills-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}
.skills .skills-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#skills .skills-item h2 {
  font-size: 2rem;
  color: var(--color2);
  margin-bottom: 10px;
  text-transform: uppercase;
}
#skills .skills-item p {
  color: var(--color2);
  text-align: left;
}
/* End skills section */
/* projects section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  background-color: var(--color2);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: var(--color5);
  color: var(--color2);
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 10px;
}
#projects .project-info p {
  color: var(--color2);
}
#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: var(--color5);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}
/* end projects section */
